<div>I am an element with a red background, black border, and white text</div>

<style>
  div {
    background-color: red;
    border: 4px dashed black;
    color: white;
    font-weight: 700;
    padding: 1rem;
  }
